.PensioCloseButton {
  display: none !important;
}

.AltaPaySubmitButton {
  background-color: #0970e6 !important;
  border-color: #0970e6 !important;
}

.Content {
  border: 0 !important;
  padding: 0 !important;
}
